html{
	box-sizing:border-box;
}

*, *::before, *::after{
	box-sizing:inherit;
}

html,
body,
.wrapper{
	height:100%;
}

body{
	font-family:'Montserrat', sans-serif;
	font-size:16px;
	color:#333;
}

.wrapper{
	display:flex;
	flex-direction:column;
}

main{
	flex:1;	
}

header,
footer{
	flex-shrink:0;	
}

a{
	text-decoration:none;
	color:#333;
}

ul{
	list-style:none;
}

header{
	background-image:url('img/bg_top.png');
}

.header-container{
	display:flex;
	padding-top:30px;
	margin:auto;
	width:1112px;
	flex-wrap:wrap;
}

.header-top{
	display:flex;
	width:100%;
	align-items:center;
	justify-content:space-between;
}

.header-top__logo{
	font-size:24px;
	font-weight: bold;
}

.header-top__menu li:not(last-child){
	display:inline-block;
	font-size:14px;
	line-height: 17px;
	margin-right:28px;
}

.header-top__menu li a:hover{
	color:#00BF78;
}

.header-top__kontacts{
	font-size: 18px;
	line-height: 14px;
	text-align:center;
}

.header-top__kontacts span{
	font-size: 11px;
	line-height: 14px;
}

.header-middle{
	display:flex;
	justify-content:space-between;
	align-items:center;
}

.header-middle__hero{
	width:500px;
	flex-shrink:0;	
}

.header-middle__hero h1{
	font-size: 48px;
	line-height: 59px;
	font-weight: 600;
	margin:0;
}	

.header-middle__hero p{
	font-size: 20px;
	line-height: 24px;
}

.btn{
	background-color:#FB9475;
	font-size:14px;
	border:none;
	border-radius: 24px;
	color:#fff;
	opacity:1;
}

.btn_large{
	width: 203px;
	height: 48px;
}

.header-middle__girl{
	position:relative;
	flex-shrink:0;	
	overflow:hidden;
	margin:0;
	max-width:524px;
	width:100%;
} 

.header-middle__girl img{
	display:block;
	position:relative;
	z-index:1;
}

.header-middle__girl::before{
	content:'';
	width: 472px;
	height: 472px;
	position:absolute;
	background-color:#FB9475;
	border-radius:50%;
	left:49px;
	bottom:-110px;
	z-index:0; 
}

.social li{
	position:relative;
}

.social li:not(last-child){
	margin-bottom:20px;
}

.social li{
	width:30px;
	height:30px;
	overflow:hidden;
}