.main-section{
	display:flex;
	margin:auto;
	max-width:1112px;
	flex-wrap:wrap;
	margin-bottom:100px;
}

@media only screen and (max-width: 768px){
	.main-section{
		margin-bottom:25px;
	}
}

.section-about{
	display:flex;
	flex-direction:row;
	justify-content:space-between;
	align-items:flex-end;
	
	&__describe{
	width:50%;
	}
	
	&__subtitle{
	font-weight: normal;
	font-size: 20px;
	line-height: 32px;
	}
	
	&__text{
	font-size: 16px;
	line-height: 26px;
	}
	
	&__more{
	font-size: 14px;
	line-height: 17px;
	color:#278AFF;
	}
	
	&__video{
	width:443px;
	height:295px;
	background: transparent url('/img/video_pre.jpg') 0 0 / cover no-repeat ;
	margin-bottom:30px;
	}
}

video{
	width:443px;
	height:295px;	
}

.title_big{
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 48px;
	line-height: 59px;
	margin:0;
	margin-bottom:30px;
	width:100%;
}

@media only screen and (max-width: 768px) { 
	.main{
		padding:0 30px;
		width:100%;
	}
	
	.section-about{
		justify-content:center;
		margin-bottom:50px;
		
		&__describe{
		width:100%;
		margin-bottom:30px;
		}
		
		&__video{
		width: 100%;
		height: auto;
		max-height: 100%;
		}
	}
	
	video{
		width: 100%;
		height: auto;
	}
}

.section-features{
	display:flex;
	justify-content:space-between;
}

.title_small{
	font-size: 18px;
	line-height: 22px;
	margin:0;
	margin-top:20px;
}

.features_title{
	text-align:center;
}

.section__text{
	font-size: 14px;
	line-height: 22px;
}

.features__text{
	text-align:center;
}

.section-features__comfort,
.section-features__quality,
.section-features__masters{
	padding:80px 30px 0;
	position:relative;
	margin-bottom:20px;
}

.section-features{
	&__comfort::before{
	content:"";
	background:url(/img/comfort.jpg) no-repeat;
	position:absolute;
	width:60px;
	height:60px;
	top:0;
	left:calc(50% - 30px);
	}
	
	&__quality::before{
	content:"";
	background:url(/img/quality.jpg) no-repeat;
	position:absolute;
	width:60px;
	height:60px;
	top:0;
	left:calc(50% - 30px);
	}
	
	&__masters::before{
	content:"";
	background:url(/img/masters.jpg) no-repeat;
	position:absolute;
	width:60px;
	height:60px;
	top:0;
	left:calc(50% - 30px);
	}
}

.container{
	display:flex;
	justify-content:space-between;
	padding:0;
}

.title_medium{
	display:block;
	margin:0;
	font-style: normal;
	font-weight: bold;
	font-size: 36px;
	line-height: 44px;
	width:100%;
	margin-bottom:35px;
	text-align:left;
}

.popular__title{
	margin-top:20px;
}

 .section-popular__item{
	 padding:0 0;
	 max-width:350px;
 }
 
 .btn_small{
	 display:block;
	 width:112px;
	 height:34px;
	 margin:15px 0;
 }
 
 @media only screen and (min-width: 480px) and (max-width: 768px){	
	.service-foto{
		max-width:40vw;
	}
}

@media only screen and (max-width: 480px){
	.section-popular__item{
		max-width:90%;
    }
	
	.service-foto{
		max-width:90vw;
		overflow:hidden;
	}
}

 .price__menu{
	 margin-bottom:55px;
	 
	 .active{
		 color:#00BF78;
	 }
 }
 
.price_table{
	display:none;
	
	&__item{
	width:50%;
	}
		
	&__item:first-child{
	margin-right:125px;
	}
		
	&.active{
		display:flex;
		justify-content:flex-start;
		width:75%;
	}
}
 
.price_title{
	font-weight: 500;
}
 
td{
	vertical-align: middle;
}

td:nth-child(2n){
	color:#00BF78;
} 
 
 @media only screen and (max-width: 768px){
	.price__menu li{
		 margin:10px;
	 }
	 
	.price_table{
		width:75vw;
		flex-wrap:wrap;
		
		&__item{
		width:85vw;
		}
		
		&__item:first-child{
		margin-right:0;
		}
	 }
	 
	td{
	text-align: left;
	vertical-align:middle;
	width:70px;
	}
 }
 
 @media only screen and (max-width: 480px){
	 .price_navigation{
		 position:relative;
		 
		.mobile-price-btn{
		position:absolute;
		top:150px;
		left:-200px;
		background:url(/img/menu_icon.png) no-repeat;
		background-size:contain;
		width:75px;
		height:75px;
		}
	 }
	 
	 .price_table{
		 margin-top:100px;
	 }
 }
 
.section-masters{
	background-color:#F8F6F7;
	padding-top:50px;
} 
 
.experience{
	text-transform:uppercase;
	font-weight: 300;
	font-size: 12px;
	line-height: 15px;
	color:#333;
}
 
.master__card{
	background-size:cover;
	height:300px;
	border-radius:8px;
	position:relative;
	overflow:hidden;
	}

.master__card:hover::before{
	content:"";
	position:absolute;
	left:0;
	right:0;
	top:0;
	bottom:0;
	background-color:#000;
	opacity:0.5;
	z-index:1;
}
 
.master__card:hover::after{
	content:"Записаться к маcтеру";
	position:absolute;
	left:calc(50% - 60px);
	top:0;
	right:0;
	bottom:0;
	max-width:120px;
	color:#fff;
	font-weight:500;
	text-align:center;
	display:flex;
	align-items:center;
	justify-content:center;
	z-index:2;
}
 
 @media only screen and (max-width: 768px){
	 .container{
		 max-width:100%;
	 }
	 
	
 }
 
 @media only screen and (max-width: 400px){
	  .section-masters__item{
		 margin-left:30px;
	 }
 }
 
.section-portfolio{
	position:relative;
} 

.portfolio-nav{
		position:absolute;
		top:75px;
		right:50px;
		cursor:pointer;
		
		&.prev-work,
		 .next-work{
			cursor:pointer;
			margin-left:10px;
		}
	}

.prev-work{
	transform: rotate(180deg);
}
		
.container_portfolio{
	margin:-50px 0 116px;
}

.container-fluid{
	padding-left:0px;
}

.portfolio__card{
	display:block;
	background-size:cover;
	width:338px;
	height:338px;
	position:relative;
	cursor:pointer;
		
	&:hover{
	transform:scale(1.05);
	}
		
	&:hover::before{
	content:"";
	position:absolute;
	left:0;
	right:0;
	top:0;
	bottom:0;
	background-color:#000;
	opacity:0.5;
	z-index:1;
	}
	
	&:hover::after{
	content:"Увеличить";
	background:url(/img/lupa.png) no-repeat 36px 110px;
	position:absolute;
	left:calc(50% - 60px);
	top:0;
	right:0;
	bottom:0;
	max-width:120px;
	color:#fff;
	font-weight:500;
	text-align:center;
	display:flex;
	align-items:center;
	justify-content:center;
	z-index:2;
	}
	
	& img{
	border-radius: 8px;
	}
}

  @media only screen and (max-width: 768px){
		 
	 .container-fluid{
	  overflow:hidden;
	  margin:0;
	  margin-bottom:50px;
	  padding:0;
	}
	
	.portfolio__card{
		 max-height:200px; 
		 width:auto;
		 margin-bottom:10px;
	 }

	 .portfolio__card:hover{
		 transform:scale(1);
	 }
	 
	 .portfolio__card:hover::after{
	content:"";
	background:url(/img/lupa.png) no-repeat 36px 110px;
	position:absolute;
	left:calc(50% - 60px);
	top:0;
	right:0;
	bottom:0;
	max-width:120px;
	color:#fff;
	font-weight:500;
	text-align:center;
	display:flex;
	align-items:center;
	justify-content:center;
	z-index:2;
 }
}
@media only screen and (max-width: 460px){
	 .section-portfolio::before,
	 .section-portfolio::after{
		 display:none;
	}
}
.clients__text{
	font-size: 16px;
	line-height: 20px;
	display:block;
	width:100%;
	text-align:center;
	margin-bottom:50px;
}

.client-card-container{
	display:flex;
	justify-content:space-around;
	flex-wrap:wrap;
	align-items:center;
	width:1110px;
}

.client__card{
	width:135px;
	opacity:0.5;
	align-self:center;
} 
 
 @media only screen and (max-width: 768px){
	.clients__text{
		margin-bottom:20px;
	}

	.client__card{
	margin:10px;
	} 
 }
 
 
 
 
 
 
 
 
 
 
 
 
 